---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Head from '../../components/Head.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
<head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>

<div class="bg-solo-slate font-solo-monospace text-solo-silver">
    <div class="p-2">

    <div class="flex gap-6 justify-center">

        {
            posts.map((post) => (
                <div class="card bg-base-100 w-96 shadow-sm">
                    <a href={`/blog/${post.id}/`}>
                        <figure>
                            {post.data.heroImage && (
                                <Image width={720} height={360} src={post.data.heroImage} alt="{post.data.heroImageAlt}" />
                            )}
                        </figure>
                        <div class="card-body">
                            <h2 class="card-title">{post.data.title} <div class="badge badge-secondary">NEW</div></h2>
                            <div class="date">
                                <FormattedDate date={post.data.pubDate} />
                            </div>
                            <p>{post.data.description}</p>
                            <div class="card-actions justify-end">
                                <div class="badge badge-outline">Pd</div>
                                <div class="badge badge-outline">Score</div>
                            </div>
                        </div>
                    </a>
                </div>
            ))
        }

    </div>

    </div>
</div>

</body>
</html>